
    .food-info {

        padding: 0;
    }

    .back-button {
        padding: 2%;
    }

    .back-button {  
        width: 250px;
        display: block;
        margin: 0 auto;  
          
    }
    
    #arrow-icon {
       margin-right: 5px;
       margin-top: 5px;
    }

   
    .search-new-button {
        width: 250px;
    }

    h2, h3 {
        color: white;
        text-align: center;
    }
    
    h3 {
    
        font-size: 1.3rem;
    
    }



#button-text {
    color: white;
}






